.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 22rem;
}
.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 22rem;
    padding: 0;
}
.banner__content img{
    width: 100%;
}
.banner__text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    width: 75rem;
    height: 10.625rem;
    z-index: 1;
    position: fixed;
    top: 320px;
}
.banner__text h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 3.8125rem;
    color: #ffffff;
    margin: 0;
}
.banner__text p{
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: #ffffff;
}
.banner__text button{
    width: 8.0625rem;
    height: 3.1875rem;
    background: #2A7AE4;
    color: #ffffff;
}
